select{
	padding: 5px;
    margin: 5px;
    padding-right:100px;
}
.task{
	padding: 5px;
    margin: 5px;
    margin-left: 54.5px;
}
textarea{
	padding: 10px;
    margin: 5px;
    margin-left: 21.5px;
    margin-down: 20px;
    padding-right:14px;
}
.date{
	padding: 5px;
    margin:5px;
    margin-left: 19.5px;
}
