<style type="text/css">
.home{
	background: cyan;
	width: 750px;
	height: 600px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}
div{
	width: 600px;
	height: 200px;
}
div.side-bar-left{
	background: blue;
	width: 150px;
	height: 600px;
	margin-top: 100px;
	margin-bottom: 600px;
}
div.home-one{
	background: red;
	position: absolute;
	top: 0;
	float: right;
	margin: 150px;
	margin-top: 100px;
}
div.home-two{
	background: green;
	position: absolute;
	top: 0;
	float: right;
	margin: 150px;
	margin-top: 300px;
}
div.home-three{
	background: yellow;
	position: absolute;
	top: 0;
	float: right;
	margin: 150px;
	margin-top: 500px;
}		
</style>