<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}
{}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
<link rel="stylesheet" type="text/css" href="{% static 'login/comment.css' %}">
<body>
<form method='post' action="/addinfo/">
    {% csrf_token %}
ProjectName:<select name="projectname">
  <option value="projecta">project A</option>
  <option value="projectb">project B</option>
  <option value="projectc">project C</option>
  <option value="projectd">project D</option>
</select><br/>
Task: <input class = 'task' type='text' name='task' /><br />
Comment: <textarea name='comment' id='comment'></textarea><br />
DateDone: <input class = 'date' type='text' name='datedone' placeholder="YYYY-MM-DD" /><br />
<input type='submit' value='Add' />
</form>
<h2>Tasks Done</h2>
{% for u in userdata %}
<ul>
    <li>{{u.task}}</li>
</ul>
{% endfor %}
</body>
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}}